<header class="navdetils">
  <div class="logo">FestEvents</div>
  <div class="navlink">
    <a routerLink="/">Home</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/about">About</a>
     <a routerLink="/login">Login</a>
    <a routerLink="/contact">Contact us</a>
    
  </div>
</header>
<div>
  <section class="content">
    <h1>Welcome to FestEvents</h1>
    <p>  Plan, register, and manage your events and meetup with ease —  all in one place!</p>
    <button class="cta-btn">Get Started</button>
  </section>

  <section class="cards-container">
    <div class="card">
      <h3>TechFest 2025</h3>
      <p heigt="20px">
        Join us for an exciting annual college tech fest with coding battles, AI
        challenges, and project expos.
      </p>
      <p><strong>Date:</strong> Dec 15, 2025</p>
    </div>
    <div class="card">
      <h3>AI & ML Webinar</h3>
      <p height="20px">Learn the latest trend AI and ML with top Industry experts</p>
      <p><strong>Date:</strong> Non 15, 2025</p>
    </div>
    <div class="card">
      <h3>Startup Connect Meetup</h3>
      <p height="20px">
        Network with entreprepreneurs,investor,leaders in this startup community
        meet.
      </p>
      <p><strong>Date:</strong>Dec 8, 2025</p>
    </div>
  </section>
</div>
