* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-color: beige;
  padding: 2rem 1rem;
  overflow: hidden;
}

.login-card {
  width: 400px;
  min-height: 28rem;
  background-color:beige;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  gap: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  transition: transform 0.2s ease;
  text-align: left;
}

.login-card:hover {
  transform: translateY(-4px);
}

.login-card h2 {
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
}

.login-card label {
  font-weight: 600;
  text-align: left;
  color: #333;
  font-size: 0.95rem;
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  height: 38px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.login-card input::placeholder {
  color: #999;
}

.login-card input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 6px rgba(0, 188, 212, 0.4);
  outline: none;
}

.login-card button {
  margin-top: 20px;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  background-color: #00bcd4;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-card button:hover {
  background-color: #0097a7;
  transform: translateY(-2px);
}

.login-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #e53935;
  font-size: 0.85rem;
  margin-top: 2px;
  font-weight: 500;
}

small {
  color: #e53935;
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 4px;
  display: block;
}

label{
  align-items: left;
}

.login-card p{
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.95rem;
  color: #666;
}

.login-card p a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
}

.login-card p a:hover {
  text-decoration: underline;
  color: #0097a7;
}
