<div class="main">
  <div class="formcontainer">
    <h2>Register Form</h2>
    <form [formGroup]="register" (ngSubmit)="onSubmit()">
      <div class="input">
        <label>Name</label>
        <input type="text" placeholder="eg:Neha" formControlName="name" class="inp1" />
        @if(register.get('name')?.touched){
        <div class="error"></div>
        @if(f['name'].errors?.['required']){
        <small>Name is required</small>
        } }
      </div>

      <div class="input">
        <label>Email</label>
        <input
          type="email"
          placeholder="neha@gmail.com"
          formControlName="email"
          class="inp1"
        />
        @if(register.get('email')?.touched){
        <div class="error"></div>
        @if(f['email'].errors?.['required']){
        <small>Email is required</small>
        }}
    
    </div>

      <div class="input">
        <label>Password</label>
        <input
          type="password"
          placeholder="Password!123"
          formControlName="password"
          class="inp1"
        />
        @if(register.get('password')?.touched){
        <div class="error"></div>
        @if(f['password'].errors?.['required']){
        <small>Enter valid password</small>
        }}
      </div>

      <div class="input">
        <label>Phone No</label>
        <input
          type="text"
          placeholder="1234567893"
          formControlName="phoneno"
          class="inp1"
        />
        @if(register.get('phoneno')?.touched){
        <div class="error"></div>
        @if(f['phoneno'].errors?.['required']){
        <small>Enter valid phone number</small>
        }}
      </div>

      <button type="submit" routerLink="/login">Submit</button>
     
      <!-- <a routerLink="/login"> Login</a></p> -->
    </form>
  </div>
</div>
